.body
	{
	font-family:"Bebas";
	background-color:#8677A1;
	}
.h1
	{
	 border-radius: 5px;
	text-align:center;
	color:#E4DFED;
	font-family:"Sofia";
	font-size:35;
	background-color: #4B5266 ;
	text-align:center;
	padding-bottom:10px;
	width:500;
	margin-left:auto;
	margin-top:20px;
	margin-right:auto;
	
	}
.p
	{
	text-align:center;
	}
.h3 
	{
	text-align:center;
	}
.holidays
	{
	color:  #E4DFED;
	border-radius: 5px;
	background-color:#3E394C;
	margin-left:auto;
	margin-right:auto;
	padding-bottom:20px;
	width:500;
	list-style-position:outside;
	}
.food
	{
	color:  #E4DFED;
	border-radius: 5px;
	background-color:#3E394C;
	margin-left:auto;
	margin-right:auto;
	padding-bottom:20px;
	padding-top:10px;
	width:500;
	list-style-position:outside;
	}

.poem
	{
	color:  #E4DFED;
	border-radius: 5px;
	background-color:#3E394C;
	margin-left:auto;
	margin-right:auto;
	padding-bottom:20px;
	padding-top:10px;
	width:500;
	list-style-position:outside;
	text-align:center;
	}
a:link   
	color:  #F5C2B8;
	}
a:visited
	color:  #F5C2B8;
	}
a:active
	{
	color:  #F5C2B8;
	}
a:hover
	{
	opacity:0.5;
	}